## Question 1

In [9]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [ ]:
b()

In [ ]:
b()

In [ ]:
b()

In [ ]:
print(a)

## Output

6

## Question 2

In [7]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [ ]:
fileLength('midterm.py')

In [ ]:
fileLength('idterm.py')

## Output

358

File idterm.py not found.

## Question 3

In [11]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [ ]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

## Output

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [4]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [ ]:
collatz(10)

## Output

10
5
16
8
4
2
1

## Question 5

In [8]:
def binary(n):
    if n < 2:
        print(n, end="")
    else:
        binary(n // 2)
        print(n % 2, end="")

In [ ]:
binary(9)
print()

Output

1001

## Question 6

In [19]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent_level = 0
        self.in_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1].isdigit():
            self.in_heading = True
            self.indent_level = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h') and tag[1].isdigit():
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * self.indent_level + data)

In [ ]:
hp = HeadingParser()
hp.feed("<h1>W3C Mission</h1><h2>Principles</h2>")

## Output

W3C Mission
 Principles

Question 7

In [21]:
import urllib.request
from html.parser import HTMLParser

def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        response = urllib.request.urlopen(url)
        content = response.read().decode()
    except:
        return
    parser = HTMLParser()
    parser.feed(content)

## Question 8

## a) All the temperature data:

In [ ]:
SELECT Temperature FROM table_name;

## b) All cities without repetition:

In [ ]:
SELECT DISTINCT City FROM table_name;

## c) All records for India:

In [ ]:
SELECT * FROM table_name WHERE Country = 'India';

## d) All Fall records:

In [ ]:
SELECT * FROM table_name WHERE Season = 'Fall';

## e) Average rainfall between 200 and 400 mm

In [ ]:
SELECT City, Country, Season FROM table_name WHERE Rainfall BETWEEN 200 AND 400;

f) City and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:

In [ ]:
SELECT City, Country FROM table_name WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature;

g) Total annual rainfall for Cairo:

In [ ]:
SELECT SUM(Rainfall) FROM table_name WHERE City = 'Cairo';

h) Total rainfall for each season:

In [ ]:
SELECT Season, SUM(Rainfall) FROM table_name GROUP BY Season;

## Question 9

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a)
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

# b)
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

# c)
word_lengths = [len(word) for word in words]
print(word_lengths)

# d)
detailed_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(detailed_words)

# e)
four_or_more_chars = [word for word in words if len(word) >= 4]
print(four_or_more_chars)

## Output

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']